.idea
.vscode
debug
debug.test

# Devenv
.devenv*
devenv.local.nix
.direnv

# Binaries
cloudformation-schema-generator/cfn-schema-generator

# Generated schemas
cloudformation-schema-generator/schema/cloudformation.schema.json
